extends layout

block content
	.container
		h3 Betaal Check
		p Dit zijn uw order details:
		p Punt:
		p= payment.description
		p Prijs:
		p= payment.amount

		a(href=payment.links.paymentUrl) Betaal met iDeal
