extends layout

block content
	.container
		h3 Betaal status
		p Uw betaling met iDeal was:

		p= payment.status

		p U kocht Punt: #{payment.description} voor #{payment.amount}

		a(href='/').btn.btn-primary Terug naar Kaart
