doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(rel='stylesheet', href='https://openlayers.org/en/v4.6.5/css/ol.css')
    link(rel="stylesheet", href="https://www.w3schools.com/w3css/4/w3.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body(style={padding: "50px"})
    block content

  script(src="https://code.jquery.com/jquery-3.3.1.min.js")
